<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}Wellington Humane Society{% endblock %}</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" />
    {% block extra_head %}

    {% endblock %}
</head>
<body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %}">
    <div id="wrap">
        {% block content %}

        {% endblock %}
    </div>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bundle.js"></script>	
</body>
</html>
